

.container div{
    display: flex;
    justify-content: center;
    align-items: center;
    /* height:180px;
    width: 180px; */
}
.container div>img{
    /* height: 180px; */
}

.container p{
    font-size: 14px;
}

.container div+p{
    color: #003380;
    height:45px;
    font-size: 14px;
    overflow: hidden;
    margin-right: 20px;
    font-weight: 500;
}

.container span{
    color: black;
    font-weight: 500;
}

.container p+p+p span{
    text-decoration: line-through;

}

