.payment{
    width: 90%;
    display: flex;
    margin: auto;
}
.payment-address>div
{
    width: 90%;
    display: block;
    margin-left: 5%

    
}
.payment>:nth-child(1)
{
    width: 18%;
    /* border-left: 1px solid black; */
}
.payment>:nth-child(2)
{
    width: 80%;
    border-left: 1px solid black;
    padding-left: 30px;
}
map {
    font-size: 14px;
    font-weight: 400;
}

/* input{
    border: 1px solid black;
} */

.date
{
    display: flex;
}
.date input
{
    width: 20%;
    margin-top: 10px;
}
.pin
{
    display: block;
}

.pin input
{
    gap: 10px;
    margin-top: 20px;
    width: 50%;
}
button{
    width: 50%;
    color: rgb(255, 255, 255);
    background-color: red;
    border: 1px solid rgb(228, 37, 41);
    border-radius: 2px;
}

.para 
{
    margin-top: 20px;
    width: 50%;
}
.para p
{
    color: #666666;
    font-size: 12px;
}
.heading
        {
            font-size: 20px;
            font-weight: 600;
        } 
    .atm
    {
        padding-left: 10px;
    }
    .cartmap p
    {
        font-size: 12px;
        font-weight: 500;
    }
 @media screen and (max-width: 500px) {
    .payment{
    width: 100%;
    display: block;
    
    }
    .payment-address>div
{
    width: 90%;
    display: block;
    /* margin-left: 5% */
    margin-left: 0px;

    
}
.payment>:nth-child(2)
{
   
    padding-left: 0px;
}
.pin input
{
    gap: 10px;
    margin-top: 20px;
    width: 100%;
}
.payment>:nth-child(1)
{
    width: 50%;
    border: 1px solid black;
    margin-bottom: 20px;
}
.payment>:nth-child(2)
{
    width: 99%;
    border: 1px solid black;
}
Button{
    width: 99%;
    color: rgb(255, 255, 255);
    background-color: rgb(228, 37, 41);
    border: 1px solid rgb(228, 37, 41);
}
.para 
{
    width: 99%;
}
p
    {
        font-size: 20px;
        font-weight: 600;
    }

}
/* .payment-address
{
    width: 100%;
    display: block;
    margin: auto
} */


@media screen and (min-width: 500px) and (max-width: 900px) {
    .payment{
        width: 100%;
        display: block;
        margin: auto;
        }
        .payment>:nth-child(2)
{
   
    padding-left: 0px;
}
        .payment-address>div
        {
            width: 90%;
            display: block;
            /* margin-left: 5% */
            margin-left: 0px;
        
            
        }
    .pin input
    {
        gap: 10px;
        margin-top: 20px;
        width: 100%;
    }
    .payment>:nth-child(1)
    {
        width: 50%;
        border: 1px solid black;
        margin-bottom: 20px;
    }
    .payment>:nth-child(2)
    {
        width: 99%;
        border: 1px solid black;
    }
    p
    {
        font-size: 20px;
        font-weight: 600;
    }
    input{
        font-size: 40px;

    }
    Button{
        width: 99%;
    }
    .para 
{
    width: 99%;
}
.cartmap p
{
    font-size: 20px;
    font-weight: 600;
}
} 