.container{
    background-color: #003380;
    color: white;
    padding: 20px 80px;
}

.flexcontainer{
    display: flex;
    justify-content: space-between;
    line-height: 2;
}

.container h2{
    font-weight: 600;
}

.bottomcontainer{
    display: flex;
    gap:20%;
}

.bottomcontainer img{
    display: inline-block;
    width: 130px;
}

img+img{
    margin-left: 4%;
}

.icons{
    display: flex;
    font-size: 22px;
    justify-content: space-between;
}

.discontainer{
    background-color: #0a244a;
    color: white;
    text-align: center;
    padding: 20px 150px;
}

.discontainer p{
    margin-top: 10px;
    font-size: 12px;
    letter-spacing: 1.1px;
    font-weight: 400;
}