.boatoffers{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:10px;
}

.boatoffers h2{
    margin-left: 20px;
    font-size: x-large;
}

.boatoffers div{
    display: flex;
    align-items: center;
    font-size: 14px;
    height: 27px;
    background-color: rgb(0, 51, 128);
    color: white;
    padding: 0px 15px;
    border-radius: 2px;
}